# This is Git's per-user configuration file.
[user]
	name = oliverjam
	email = oliverjamesphillips@gmail.com
[color]
	ui = always
[pull]
	rebase = false
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
  pager = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less